* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mod {
    background-color: #06131F;
}

.mod_main {
    background-color: #1D2D3C;
    height: 3000px;
}

.mycard {
    background-color: #112030;
}

main img {
    width: 200px;
    height: 200px;
}